<div>
    <h2>Recipes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="recipe.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Create new Recipe
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table ng-table="vm.recipes" class="jh-table table-striped table table-condensed row-border table-hover v-middle">
            <tbody>
            <tr ng-repeat="recipe in $data track by recipe.id"
                class="cursor-pointer">
                <td ui-sref="recipe-detail({id:recipe.id})">
                    <span ng-if="recipe.image">
                        <img data-ng-src="{{'data:' + recipe.imageContentType + ';base64,' + recipe.image}}" style="max-width: 165px;"/>
                    </span>
                </td>
                <td data-title="'Name'" filter="{name: 'text'}" sortable="'name'" sortable="'name'" data-title="Namee" ui-sref="recipe-detail({id:recipe.id})">
                    <span class="entity-list-name">{{recipe.name}}</span>
                </td>
                <td data-title="'Type'" filter="{typeOfRecipe: 'number'}" sortable="'typeOfRecipe'" ui-sref="recipe-detail({id:recipe.id})"> 
                    {{recipe.typeOfRecipe}}
                </td>
                <td data-title="'Note'" filter="{note: 'number'}" sortable="'note'" ui-sref="recipe-detail({id:recipe.id})">
                    <uib-rating ng-model="recipe.note" max="5" readonly="true"></uib-rating>
                </td>
                <td>
                    <a href="{{::recipe.link}}" target="_blank" type="button" class="fa fa-external-link edit btn btn-default btn-sm" uib-tooltip="Web site"></a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="recipe-detail({id:recipe.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="recipe.edit({id:recipe.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="recipe.delete({id:recipe.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
