<div>
    <h2>Recipes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="recipe.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Recipe
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Comment</span></th>
                    <th><span>Link</span></th>
                    <th><span>Ingredients</span></th>
                    <th><span>Type Of Recipe</span></th>
                    <th><span>Image</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recipe in vm.recipes track by recipe.id">
                    <td><a ui-sref="recipe-detail({id:recipe.id})">{{recipe.id}}</a></td>
                    <td>{{recipe.name}}</td>
                    <td>{{recipe.comment}}</td>
                    <td>{{recipe.link}}</td>
                    <td>{{recipe.ingredients}}</td>
                    <td>{{recipe.typeOfRecipe}}</td>
                    <td>
                        <a ng-if="recipe.image" ng-click="vm.openFile(recipe.imageContentType, recipe.image)">
                            <img data-ng-src="{{'data:' + recipe.imageContentType + ';base64,' + recipe.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="recipe.image">{{recipe.imageContentType}}, {{vm.byteSize(recipe.image)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="recipe-detail({id:recipe.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="recipe.edit({id:recipe.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="recipe.delete({id:recipe.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
