<div>
    <h2>Wines</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="wine.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Create new Wine
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table ng-table="vm.wines" class="jh-table table-striped table table-condensed row-border table-hover v-middle">
            <tbody>
            <tr ng-repeat="wine in $data track by wine.id"
                class="cursor-pointer">
                <td data-title="'Name'" filter="{name: 'text'}" sortable="'name'" ui-sref="wine-detail({id:wine.id})">
                    <span class="entity-list-name">{{wine.name}}</span>
                </td>
                <td data-title="'Country'" filter="{country: 'text'}" sortable="'country'" ui-sref="wine-detail({id:wine.id})">
                    {{wine.country}}
                </td>
                <td data-title="'Region'" filter="{region: 'text'}" sortable="'region'" ui-sref="wine-detail({id:wine.id})">
                    {{wine.region}}
                </td>
                <td data-title="'Appellation'" filter="{appellation: 'text'}" sortable="'appellation'" ui-sref="wine-detail({id:wine.id})">
                    {{wine.appellation}}
                </td>
                <td data-title="'Year'" filter="{year: 'number'}" sortable="'year'" ui-sref="wine-detail({id:wine.id})">
                    {{wine.year}}
                </td>
                <td data-title="'Type'" filter="{typeOfWine: 'text'}" sortable="'typeOfWine'" ui-sref="wine-detail({id:wine.id})">
                    {{wine.typeOfWine}}
                </td>
                <td data-title="'Stock'" filter="{stock: 'number'}" sortable="'stock'" ui-sref="wine-detail({id:wine.id})">
                    {{wine.stock}}
                </td>
                <td data-title="'Note'" filter="{note: 'number'}" sortable="'note'" ui-sref="wine-detail({id:wine.id})">
                    {{wine.note}}
                </td>
                <td>
                    <a ng-if="::wine.link" href="{{::wine.link}}" target="_blank" type="button" class="fa fa-external-link edit btn btn-default btn-sm" uib-tooltip="Web site"></a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="wine-detail({id:wine.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="wine.edit({id:wine.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="wine.delete({id:wine.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
