.bagofood-table-list > thead > tr > th {
  border-bottom: none;
  color: steelblue;
  font-size: 15px;
  font-weight: 800; }

.panel-title-list {
  margin-top: 8px;
  margin-left: 20px;
  font-family: fantasy;
  font-size: 22px; }

.recipe-name {
  color: darkred;
  font-weight: bold; }

.background-color-white {
  background-color: white; }
