// Custom
// Bootswatch
// -----------------------------------------------------

//@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

// Navbar =====================================================================

// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

.bagofood-table-list > thead > tr > th {
  border-bottom: none;
  color: steelblue;
  font-size: 15px;
  font-weight: 800;
}

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

// Panels =====================================================================

.panel-title-list {
  margin-top: 8px;
  margin-left: 20px;
  font-family: fantasy;
  font-size: 22px;
}
