// Custom Theme
@import "_variables";
@import "_bootswatch";

.recipe-name {
  color: darkred;
  font-weight: bold;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.background-color-white {
  background-color: white;
}